Dockerfiles/database
Dockerfiles/nginx/log
mxshop/static
.idea
mxshop/apps/users/migrations/*
mxshop/apps/goods/migrations/*
mxshop/apps/trade/migrations/*
mxshop/apps/user_operation/migrations/*
*/*/*/migrations
.DS_Store
*.swp
*.psd
