Dockerfiles/database
Dockerfiles/nginx/log
mxshop/static
zabbix-docker/database
zabbix-docker/zbx_env
.idea
mxshop/apps/users/migrations/*
mxshop/apps/goods/migrations/*
mxshop/apps/trade/migrations/*
mxshop/apps/user_operation/migrations/*
*/*/*/migrations
.DS_Store
*.swp
*.psd
__pycache__/

*.swo
*.log
*.mmdb

docker-elk/celery_test/advanced/flowerdb.db

docker-elk/celery_test/advanced/celery.log
