amqp
anyjson
atomicwrites
attrs
billiard
cachetools
celery
certifi
chardet
coreapi
coreschema
defusedxml
Django
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-extensions
django-filebrowser
django-filter
django-formtools
django-grappelli
django-guardian
django-jet
django-redis
django-reversion
djangorestframework
djangorestframework-jwt
drf-extensions
feedparser
future
gevent
google-api-python-client
google-auth
google-auth-httplib2
greenlet
html-testRunner
httplib2
idna
importlib-metadata
itypes
Jinja2
kombu
Markdown
MarkupSafe
more-itertools
mysqlclient
oauth2client
oauthlib
pika
Pillow
pluggy
py
pyasn1
pyasn1-modules
pycryptodome
pyinstrument
pyinstrument-cext
PyJWT
pyprof2calltree
pytest
python-logstash
python3-openid
pytz
raven
redis
requests
requests-oauthlib
rsa
six
social-auth-app-django
social-auth-core
sqlparse
uritemplate
urllib3
uWSGI
vine
wcwidth
XlsxWriter
xlwt
zipp
aliyun-python-sdk-core
SQLAlchemy
flask
pymsql
