global
  # daemon  #以daemon方式在后台运行
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  # maxconn 4096

defaults
  log global
  # http模式
  mode http
  option httplog
  option dontlognull
  #连接server端超时5s
  timeout connect 5000ms
  #客户端响应超时50s
  timeout client 50000ms
  #server端响应超时50s
  timeout server 50000ms

#定义监控页面
listen stats
  bind 0.0.0.0:8008
  mode http
  stats enable
  stats hide-version
  stats scope .
  stats realm Haproxy\ Statistics
  #访问监控页面的uri
  stats uri /stats
  stats auth admin:asdf1234

frontend balancer
  # 监听端口
  bind *:8001
  mode http
  #请求转发至名为"web_backends"的后端服务
  default_backend web_backends

backend web_backends
  #使用RR负载均衡算法
  balance roundrobin
  mode http
  option forwardfor
  # server socket /code/app.sock check
  server web drf_web:8000 check
  # option httpchk GET /check